@keyframes ani-mouse{
    0%{
        top: 29%;
    }
    15%{
        top: 50%;
    }
    50%{
        top: 50%;
    }
    100%{
        top: 29%;
    }
}

.wheel{
    animation: ani-mouse 2s linear infinite;
}